.landingpage{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 20%;
}

.lp1{
    box-shadow: 0px 0px 4px rgb(22, 19, 19);
    border-radius: 20px;
    margin: 0px 40px;
    padding: 40px 40px;
    transition: 1s;
}

.lp1 h2{
    text-align: center;
    margin: 15px 0px 0px 0px;
}

.lp1:hover{
    transform: scale(1.1);
}

.lp1 a{
    text-decoration: none;
    color: red;
}